html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.register-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.register-box h2 {
    color: white;
    margin: 0 0 10px;
    color: #fff;
    font-size: 30px;
    text-align: left;
}
.register-box .user-box {
    position: relative;
}

.register-box .user-box input {
    width: 100%;

    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.move{
    transform: translate(-550px,275px);
    transition: 1s;
}